/* ================================= 
          Base Element Styles
==================================== */

html, body {
    height: 100%;
    margin: 0pt;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: darkgoldenrod;
    padding-top: 183px;
}

#wrapper {
    width: 85%;
    max-width: 1150px;
    margin: 150px 50px 0;
    padding: 3%;
}

img {
    max-width: 100%;
}

h2 {
  padding-left: 1px;
  padding-right: 1px;
}

h3 {
  margin: 0 0 1em 0;
}



/************************ 
        CONTAINERS
 ************************/

.container {
    text-align: center;
    margin: 0;    
    padding: 10px;
}

#container2 {
	height: 225px;
}

#container2 #logoBox {
	margin: 0 auto;
	width: 100%;
	padding-top: 13px;
  padding-bottom: 13px;
  display: block;
}

#container2 #logoBox img {
	display: block;
	margin: 0 auto;
	width: 210px;
  padding: 5px;
}



/************************ 
          HEADING
 ************************/

.main-header {
    position: fixed;
    box-shadow: 0 1px 4px rgba(0,0,0,.4);
    width: 100%;
    padding-top: 53px;
    padding-bottom: .5em;
	  background: navy;
    top: 0; 
  }

h2 {
    font-family: 'Playfair', serif;
    font-size: 1em;
    margin: -5px 0 -5px;
    font-weight: normal;
    color: #fff;
    margin-bottom: 20px;
}



/************************ 
        NAVIGATION
 ************************/

nav.mainMenu {
  background: darkgoldenrod;
	width: 100%;
	display: block;
	height: 52px;
	border-top: 1px solid rgb(180,180,190);
	border-bottom: 1px solid rgb(180,180,190);
	position: fixed;
	z-index: 50;
  top: 0;
  text-align: center;
}

nav.mainMenu ul {
	list-style: none;
	padding-left: 56px;
	margin: 0;
	height: 52px;
  display: inline-block;
}

nav.mainMenu li {
	padding: 0;
	margin: 5px 0 0 0;
	float: left;
	min-width: 26px;
	padding-right: 28px;
}

nav.mainMenu a {
	font-weight: 300;
	font-family: MuseoSnsW10Cyr300, Arial, sans-serif;
	font-size: 18px;
	line-height: 43px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
}

nav.mainMenu a:hover {
	color: rgb(57,93,118);
}

#menuBtn {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	padding: 9px 8px 8px 8px;
	z-index: 25;
	width: 35px;
	height: 35px;
	cursor: pointer;
}

#menuBtn:hover {
	opacity: 0.8;
}

/************************ 
      PAGE ELEMENTS
 ************************/

 /*--ABOUT--*/

.welcome-photo {
  display: block;
  max-width: auto;
  margin: 0 auto 30px;
  border-radius: 20px;
}

/*--Orgs & Images--*/

#gallery {
    margin: 0;
    padding: 0;
    list-style:  none;
}

#gallery li {
    float:  left;
    width: 45%;
    margin:  2.5%;
    background-color: darkgoldenrod;
    color: #bdc3c7;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: darkblue;
}

#videos {
  margin: 0;
  padding: 0;
  list-style:  none;
}

#videos li {
  float:  left;
  width: 45%;
  margin:  0;
  background-color: darkgoldenrod;
  color: #bdc3c7;
}

#videos li a p {
  margin: 0 0 0 -4%;
  padding: 5%;
  font-size: 0.75em;
  color: darkblue;
}

/*--CONTACT--*/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
}

/*--BLOG--*/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

form {
  max-width: 300px;
  margin: 0 auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: navy;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid navy;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: navy;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

/*--FOOTER--*/

.Frame {
    display: table;
    height: 100%;
    width: 100%;
}
.Row {
    display: table-row;
    height: 1px;
    text-align: center;
	  padding: 2em 0;
    padding-top: 25px;
	  font-size: 0.75em;
    margin-top: 20px;
    background: none;
    color: darkgray;
    clear: both;
}
.Row.Expand {
    height: auto;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

