/* ================================= 
  Media Queries
==================================== */

/*------------LAYOUT 260px-----------*/
@media all and (max-width: 260px) {

	#container2 #logoBox {
		width: 100%;
	}

	#container2 #logoBox img {
		width: 100%;
		padding: 0 5px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}

}
/*------------LAYOUT 480px-----------*/
@media screen and (min-width: 480px) {  

body {
    padding-top: 183px;
  }

h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }

/*-PAGE: VIDEOS & PHOTOS-*/ 

  #gallery li {
    width: 28.3333%;
  }

  #gallery li:nth-child(4n) {
    clear: left;    
  }

  form {
    max-width: 480px;
  }

/*-PAGE: ABOUT-*/  

  .welcome-photo {
    float: left;
    margin: 0 5% 150px 0;
  }
}
	
/*---------LAYOUT 750px-----------*/

/*@media screen and (max-width: 750px) {      
    header nav#menu ul:hover > li{
        display:block !important;
    }

    header nav#menu ul li{
        display:none !important;
    }
}*/

/*---------LAYOUT 769px-----------*/

@media (min-width: 769px) {

  body {
    padding-top: 183px;
  }

  .main-header {
    position: fixed;
    box-shadow: 0 1px 4px rgba(0,0,0,.4);
    width: 100%;
    top: 0; 
  }
  
  h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
}

/*---------LAYOUT 1003px-----------*/

/*@media all and (max-width: 980px)*/

@media (max-width: 1003px) {

	h1 {
		display: block !important;
	}

	.mainMenu {
		position: relative;
	}

	#container1, header, footer {
		width: 100%;
	}

	#navContainer {
		overflow: hidden;
		width: 100%;
		height: 52px;
	}

	nav.mainMenu ul {
		margin-top: 0;
		/* -webkit-transition: transform 0.3s ease-in-out; 
		-moz-transition: transform 0.3s ease-in-out;
		-o-transition: transform 0.3s ease-in-out;
		transition: transform 0.3s ease-in-out;*/
		padding: 0;
		width: 100%;
		height: auto;
		z-index: 20;
	}

	nav.mainMenu li {
		padding: 4px 0 5px 30px;
		/*-moz-transition: height 0.2s linear;
		-webkit-transition: height 0.2s linear;*/
		transition: height 0.2s linear;		
		clear: both;
		/*-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;*/
		box-sizing: border-box;
		width: 100%;
		margin: 0 0 1px 0;
		border-bottom: 1px solid #CDCDD7;
	}

	nav.mainMenu li.menutitlea, nav.mainMenu li.menutitle-firsta, nav.mainMenu li.menutitle-lasta {
		padding-left: 24px;
		border-left: 6px solid #395D76;
	}

	#menuBtn {
		display: block;
	}

}